form {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px auto;
    width: 100%;
    max-width: 400px;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    background-color: #3f2bd5;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 1rem;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #b798fa;
  }